<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Home - Nick Parisi</title>
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head> 
<body> 
  <header>
    <img src="/img/yoshi.jpg" width="100" height="100" align="right" > 
	<h2>Nick Parisi</h2>
	<a href="/">Home</a> / <a href="/blog">Blog</a>
  </header> 
  <main> 
    {{ content | safe }}
  </main>  
</body> 
</html>
