<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>{{ title }} - Nora Kelly</title>
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <style>
    :root {
        --nc-bg-2: #8bd8ff;
		--nc-bg-1: #ffffff;
		--nc-bg-3: #FFBB98;
		--nc-tx-1: #e182c0;
		--nc-tx-2: #000080;
		--nc-lk-1: #000000;
    }
	h1 { font-family: Brush Script MT, cursive; font-size: 80px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
  </style>
</head> 
<body> 
  <header>
	<h1 align="left">From The Desk Of</h3>
  </header> 
  <main> 
    {{ content | safe }}
  </main> 
  <footer>
	<p align="right">Copyright &copy; 2021 Cheech</p> 
  </footer>
</body> 
</html>
